header {
    border-bottom: solid 1px $colorBlack;
    display: flex;
    justify-content: space-around;
    #image-pp {
        margin-top: 50px;
    }
    figcaption {
        font-family: 'Roboto';
    }
    h1 {
        text-align: center;
        margin-top: 50px;
        font-family: 'Kalam';
        padding-bottom: 50px;
    }
    box-shadow: 0px 5px 5px darken($grey-color, 13%);
}
