header {
    border-bottom: solid 1px $colorBlack;
    display: flex;
    justify-content: space-around;
    img {
        height: 50px;
        border: solid 1px $colorBlack;
        border-radius: 50px;
        margin-top: 50px;
    }
    h1 {
        text-align: center;
        margin-top: 50px;
        font-family: 'Kalam';
        padding-bottom: 50px;
    }
    box-shadow: 0px 5px 5px darken($grey-color, 13%);
}