#global-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 1em;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin-top: 20px;
        li {
            width: 20%;
            margin-right: 16px;
            padding-bottom: 5px;
            font-size: 1.5em;
            text-align: center;
            cursor: pointer;
        }
        .selected {
            border-bottom: solid 2px $tertiary-color;
        }
    }
    #form {
        margin-top: 20px;
        padding-top: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        width: 90%;
        text-align: center;
        margin-left: 20px;
        background-color: $white-color;
        @include shadow;
        #errorMsg {
            font-weight: bold;
            color: $redColor;
            font-size: 1em;
        }
    }
}